/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(132, 228, 133);
} */
